# systemd service about auto-start oled.service after booting
# path and command: nano /lib/systemd/system/oled.service

[Unit]
Description=Runeaudio OLED Service

[Service]
ExecStartPre=/usr/bin/sh -c "sleep 3"
ExecStart=/usr/bin/python2 /root/RuneAudio-OLED/RuneAudio_OLED.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
